*{
    font-family: "Segoe UI", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #cacaca;
    color: #fff;
}

.wrapper{
    margin: 0 auto;
    max-width: 80%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: #161616;
    background-image: linear-gradient(to right, #3d3d3d, #161616);
    width: 100%;
    /*-webkit-text-stroke: 1px #028f1a;*/
}

.add-task{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: #fff;
    color: #272727;
}

.add-task input{
    border: 0;
    border-bottom: 2px solid #272727;
    outline: none; /* Remove o contorno */
    transition: border 150ms ease-in-out;
}

.add-task input::placeholder{
    opacity: 1;
    transition: opacity 0.8 150ms ease-in-out;
}

.add-task input:focus{
    border-bottom-width: 2px;
}

.add-task input:focus::placeholder{
    opacity: 0.5;
} /*bug resolvido do placeholder ficar + claro ao clicar ao add o input aqui.*/

.add-task-btn{
    border: 0;
    background: 0;
    color: #272727;
    cursor: pointer;
    outline: none;
    transition: color 150ms ease-in-out;
}

.add-task-btn:hover{
    color: #747474;
}

.add-task-btn:active{
    color: #028f1a;
}

.task-list-header{
    position: relative;
    width: 100%;
}

.task-list-header h2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background: #272727;
    background-image: linear-gradient(to left, #3d3d3d, #161616);
    color: #fff;
    /*-webkit-text-stroke: 1px #028f1a;*/
}

.remove-complete-btn{
    position: absolute;
    right: 5vw;
    top: 16px;
    border: 0;
    background: 0;
    color: #fff;
    font-size: 0.5em;
    cursor: pointer;
    transition: color 150ms ease-in-out;
    outline: none;
}
.remove-complete-btn:hover{
    color: #858585;
}

.remove-complete-btn:active{
    color: #ff652f;
}

.task-list-wrapper{
    background: #fff;
    color: #272727;
    width: 100%;
}

.task-list{
    padding: 15px 25px 25px 25px;
}

.task-list li{
    list-style-type: none;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #7474743b;
}

.task-list li:hover .custom-checkbox{
    transform: scale(1.2);
    color: #747474;
}

.task-list li:active .custom-checkbox{
    transform: scale(1);
    color: #028f1a;
}
[type="checkbox"]:checked + label .custom-checkbox{
    transform: scale(1);
    color: #028f1a;
    opacity: 0.6;
}

[type="checkbox"]:checked + label .check-mark,
[type="checkbox"]:checked + label{
    opacity: 0.6;
}

.task-list input{
    position: absolute;
    opacity: 0;
}

.task-list label{
    position: relative;
    cursor: pointer;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.task-list label:hover{
    color: #747474;
}

.custom-checkbox{
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-right: 0.5em;
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.check-mark{
    position: absolute;
    bottom: 5px;
    left: 2px;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    z-index: 1;
}

/*
.teste-css_autocomplete{
    color: blue;
}
*/

